// Overriding Bulma values
$button-focus-box-shadow-color: bulmaRgba(0, 0, 0, 0.25);
$button-focus-border-color: white;

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

// Variables
$light-green: #A4C2A5;
$primary-gradient-color: #000000;
$secondary-gradient-color: #2b2b2b;

// Header styles
.gradient-bg {
	display: flex;
	background: linear-gradient(to right, $primary-gradient-color, $secondary-gradient-color);
}

.header {
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.icon {
	border-radius: 50%;
	height: 100%;
	width: 100%;
	max-height: 215px;
	max-width: 215px;
	padding: 10px
}

.social-icon {
	margin-right: 10px;
}

.button {
	height: 38.49px;
	margin-top: 3px;
	font-size: 20px;
	color: #171717;
	padding-left: 10px;
	padding-right: 10px;
	border-color: white;
	text-decoration: none;
}

.button-text {
	font-weight: 900;
	text-transform: uppercase;
}

.button:hover {
	background-color: grey;
	border-color: grey;
	color: #171717
}

.button:focus {
	color: #171717
}

// Body styles
.headline-small {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 900;
}

.sub-headline-small {
	font-size: 15px;
	font-weight: bold;
}

.headline-large {
	font-size: 20px;
	font-weight: bold;
}

.sub-headline-large {
	font-size: 20px;
	color: grey;
}

.progress-text-left {
	text-align: left;
	font-weight: bold;
	padding-left: 5px;
}

.progress-text-right {
	float: right;
	color: grey;
	padding-right: 5px;
}

.centered-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 50%;
}