// Common styles
:root {
	background-color: #4a4a4a;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: grey;
}

ul {
	list-style-type: disc;
	padding-left: 30px;
	padding-bottom: 10px;
}